<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uas201804008">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logomrs"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logomrs"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS201804008">
        <activity android:name=".UpdateActivity"></activity>
        <activity android:name=".RvDbProductActivity" />
        <activity android:name=".UpdateOrderActivity" />
        <activity android:name=".RvDbOrderActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>